@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.json-view {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
}

.json-toggle {
  cursor: pointer;
  user-select: none;
}

.json-nested {
  margin-left: 20px;
}

.json-pair {
  margin: 5px 0;
}

.json-key {
  color: #881391;
}

.json-value {
  color: #1A1AA6;
}
